apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- sabnzbd-deploy.yaml
- sabnzbd-service.yaml

# patches:
# - 

patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: sabnzbd-deployment
    spec:
      template:
        spec:
          containers:
          - name: sabnzbd
            image: linuxserver/sabnzbd:4.5.5
