apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: sabnzbd
  name: sabnzbd-deployment
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: sabnzbd
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: sabnzbd
    spec:
      containers:
      - env:
        - name: PUID
          value: "1002"
        - name: PGID
          value: "1002"
        - name: TZ
          value: America/Denver
        image: linuxserver/sabnzbd
        imagePullPolicy: Always
        name: sabnzbd
        ports:
        - containerPort: 6789
          protocol: TCP
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /config
          name: sabnzbd-config
        - mountPath: /downloads
          name: sabnzbd-downloads
        - mountPath: /incomplete-downloads
          name: sabnzbd-incomplete
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      volumes:
      - name: sabnzbd-config
        persistentVolumeClaim:
          claimName: sab-config
      - name: sabnzbd-downloads
        persistentVolumeClaim:
          claimName: media
      - name: sabnzbd-incomplete
        persistentVolumeClaim:
          claimName: download
