# kustomization.yml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: plex-system

resources:
- clusterplex.yaml

patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: clusterplex-pms
    spec:
      template:
        spec:
          containers:
          - name: plex
            image: linuxserver/plex:1.42.2
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: clusterplex-orchestrator
    spec:
      template:
        spec:
          containers:
          - name: plex
            image: pabloromeo/clusterplex_orchestrator:1.4.16
- patch: |-
    apiVersion: apps/v1
    kind: StatefulSet
    metadata:
      name: clusterplex-worker
    spec:
      replicas: 2
      template:
        spec:
          containers:
          - name: plex-worker
            image: lscr.io/linuxserver/plex:version-1.41.7.9799-5bce000f7